*{
	margin: 0;
	padding: 0; 
}
head{
	height: 100%;
}
img{
	position: center;
	width: 50%;
	padding-top: 109px;
}
.Center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }
.Right {
	display: block;
	margin-left: 95%;
	margin-right: 0;
	width: 20%;
  }
.Left {
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 20%;
  }
  .inline-block-child {
	display: inline-block;
    padding: 5px;
  }
  li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }


  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 246, 246);
  }
  
	li {
	float: left;
  }
  
  li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: white;
  }